<!DOCTYPE html>
<html>
<head>
<title>沃草國會無雙 RSS</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="國會無雙是沃草的第一個產品，本公司致力於提供公民更好的參與時政的空間、工具與平台。公民應該監督立法院與民意代表，因為我們都有能讓國家更好的權利，而我們應該為了自己、也為了自己珍惜的理念和人們，行使我們的權力。"  />
<link href="https://feed.musou.tw/" rel="canonical" />
<meta property="article:author" content="https://www.facebook.com/WatchOutTW" />

<link rel="shortcut icon" href="/static/favicon.ico" />
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono" >
<meta property="og:site_name" content="沃草國會無雙 RSS"  />
<meta property="og:type" content="website" />
<meta property="og:title" content="國會無雙 RSS：一天一分鐘，國會大小事 | 沃草國會無雙" />
<meta property="og:description"  content="國會無雙是沃草的第一個產品，本公司致力於提供公民更好的參與時政的空間、工具與平台。公民應該監督立法院與民意代表，因為我們都有能讓國家更好的權利，而我們應該為了自己、也為了自己珍惜的理念和人們，行使我們的權力。" />
<meta property="og:url" content="https://feed.musou.tw/" />
<meta property="og:image"  content="https://feed.musou.tw/static/images/nav-musou-212.png" />
<body>
<nav>
  <img src="/static/images/nav-musou-212.png" class="logo_nav">
</nav>
<div class="grid_center">
  <img src="/static/images/feed-268.png" class="logo_main">
  <h3  style="margin-top:1.25rem;">國會無雙內容授權釋出</h3>

  <div class="title" style="margin-top:2.5rem;"><h1>一般授權</h1></div>
  <div class="grid_txt">
    <p>一般授權包含《國會無雙》最新十篇文章的摘要及原文連結。任何人皆可在符合以下授權條款的情況下自由使用。</p>
    <p>透過下列連結取得的《國會無雙》內容採用<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 International</a>授權釋出。《國會無雙》內容由沃草產出，為降低公民參與政治門檻而努力。</p>
  </div>
  <div class="grid_btn">
    <ul>
      <li class="grid_btn_item">
        <a href="https://feed.musou.tw/rss" target="_blank">
          <div class="btn">
              <h3>RSS</h3>
              <span>feed.musou.tw/rss</span>
          </div>
        </a>
      </li>
      <li class="grid_btn_item">
        <div class="btn_info">
          <img src="/static/images/arrow-19.png" class="logo_arrow logo_arrow_l">
          選擇格式
          <img src="/static/images/arrow-19.png" class="logo_arrow logo_arrow_r">
        </div>
      </li>
      <li class="grid_btn_item">
        <a href="https://feed.musou.tw/json" target="_blank">
          <div class="btn">
              <h3>JSON</h3>
              <span>feed.musou.tw/json</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="title" style="margin-top:3.75rem;"><h1>專案授權</h1></div>
  <div class="grid_txt">
    <p>如需全文授權、商業使用，或其他一般授權無法滿足的使用目的，請來信聯絡我們，我們非常樂意以專案方式處理。</p>
  </div>
  <img src="/static/images/mailbox-48.png" class="logo_mail">
  <p class="txt_mail"><a href="mailto:eyectv@gmail.com">musou@watchout.tw</a></p>
</div>
<script src="https://use.typekit.net/mub1lty.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
