<!DOCTYPE html>
<html>
<head>
<title>沃草國會無雙 RSS</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="國會無雙是沃草的第一個產品，本公司致力於提供公民更好的參與時政的空間、工具與平台。公民應該監督立法院與民意代表，因為我們都有能讓國家更好的權利，而我們應該為了自己、也為了自己珍惜的理念和人們，行使我們的權力。"  />
<link href="https://feed.musou.tw/" rel="canonical" />
<meta property="article:author" content="https://www.facebook.com/WatchOutTW"  />

<link rel="shortcut icon" href="static/favicon.ico" />
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

<!-- bootstrap CSS -->
<link rel="stylesheet" href="/static/lib/bootstrap-3.3.7/css/bootstrap.min.css">

<meta property="og:site_name" content="沃草國會無雙 RSS"  />
<meta property="og:type" content="website"  />
<meta property="og:title" content="國會無雙：一天一分鐘，國會大小事 | 沃草國會無雙"  />
<meta property="og:description"  content="國會無雙是沃草的第一個產品，本公司致力於提供公民更好的參與時政的空間、工具與平台。公民應該監督立法院與民意代表，因為我們都有能讓國家更好的權利，而我們應該為了自己、也為了自己珍惜的理念和人們，行使我們的權力。" />
<meta property="og:url" content="https://feed.musou.tw/"  />
<meta property="og:image"  content="//cdn.musou.tw/assets/og_image-9ed856ac0ca1c442f4f9767d750b1d31.png" />



<body>

<h1>沃草國會無雙 RSS</h1>

<h3>RSS :</h3>
<a href="https://feed.musou.tw/rss">https://feed.musou.tw/rss</a><br/>
<h3>JSON :</h3>
<a href="https://feed.musou.tw/json">https://feed.musou.tw/json</a>

</body>
</html>
